body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/207/494/large/sergei-klimenko-final6.jpg?1590892063");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.error-message{
    position: absolute;
    padding: 2px;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(247, 35,12);
    font-size: 90%;
}

.connexion {
    background-color: #FFFFFF;
    width: 25%;
    margin: 10% auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 10%;
    padding-left: 32%;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
}

.champ {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 11%;
    text-align: center;
    margin-bottom: 8%;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #811fbd, #8c06a4);
    border: 0;
    padding: 10px 40px;
    margin-top: 10%;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 600px) {
    .main {
        border-radius: 6px;
    }
}