html{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/207/494/large/sergei-klimenko-final6.jpg?1590892063");
}

body{
    font-family: 'Open Sans',sans-serif;
    background-color: #FFFFFF;
    width: 60%;
    margin: 5% auto;
    border-radius: 1em;
    padding-bottom: 3%;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.submit{
    height: 100%;
    margin-right: 10%;
    background: #868686;
    color: #fff;
    border: 1px solid #eee;
    text-shadow: none;
}

#banner {
    visibility: hidden;
    background-color: forestgreen;
}

label{
    margin-left: 3%;
}

p{
    width: 80%;
    margin-left: 3%;
}

#menu{
    margin-left: 3%;
}


#form1{
    display: flex;
    flex-direction: column;
}

form{
    gap: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2%;
}