@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .nav{
        display: none;
    }

    .container{
        display: none;
    }

    .sidenav {
        display: inline-block;
        font-size: 10%;
        height: 100%;
        width: 43%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 60px;
        transition: left 0.5s ease;
    }

    .sidenav a {
        font-family: "Open Sans", serif;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        text-align: left;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidenav.active {
        left: 0;
    }

    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 8px 6px;
    }

    .mobile{
        display: none;
        font-size: 10px;
        color: white;
        text-align:justify;
        padding-left:25%;
        padding-right:20%;
    }
    .play{
        margin-top: 65%;
        justify-content: center;
        width: 20%;
        height: 4%;
        font-size: 15px;
    }

    .containerCard{
        display: none;
    }

    .myP{
        font-size:220%;
        padding-left: 7%;
        padding-right: 7%;
    }

    #cartes{
        display: none;
    }
}