body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/207/494/large/sergei-klimenko-final6.jpg?1590892063");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/* Affiche nav barre mobile*/

img {
    max-width: 100%;
}

.sidenav{
    display: none;
}

.openBtn{
    display : none;
}

/* Affiche nav barre desktop*/

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: 10rem;
    height: 10rem;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #dda0dd;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: white;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #dda0dd;
}

/* Home */

.homebutton{
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/207/494/large/sergei-klimenko-final6.jpg?1590892063");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Section connexion */

.error-message{
    position: absolute;
    left: 50%;
    top : 65%;
    transform: translateX(-50%);
    color: rgb(247, 35,12);
    font-size: 230%;
}

.connexion {
    background-color: #FFFFFF;
    width: 25%;
    height: 55%;
    margin: 10% auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 10%;
    padding-left: 32%;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
}

.champ {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 11%;
    text-align: center;
    margin-bottom: 8%;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #811fbd, #8c06a4);
    border: 0;
    padding: 10px 40px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 600px) {
    .main {
        border-radius: 6px;
    }
}