#change{
    font-family: 'Open Sans',sans-serif;
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 1rem;
}

.submitModif{
    height: 100%;
    background: #868686;
    color: #fff;
    border: 1px solid #eee;
    text-shadow: none;
}

#banner {
    /* visibility: hidden; */
    background-color: forestgreen;
}

label{
    /* margin-left: 3%; */
    /* margin-right: 3%; */
    /* padding-left: 10em; */
    /* padding-right: 10rem; */
    /* left: 0; */
    /* display: flex; */
    /* position: relative; */
    /* flex-direction: column; */
    /* width: 50%; */
    /* align-items: flex-start; */
}

.textModif{
    width: 80%;
    margin-left: 3%;
}

#menu{
    margin-left: 3%;
}

.yearModif{
    background-color: white;
    width: 90%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.formModif{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    justify-content: space-around;
    border: thin dotted black;
}

#logoManette{
    float: left;
    width: 6rem;
    height: 6rem;
    padding-left: 1rem;
}

#modifContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}